<mat-card>
    <mat-card-header>
        <mat-card-title>{{ todo.description }}</mat-card-title>
        <mat-card-subtitle>Added By : {{ todo.addedBy }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="todo.isCompleted"><strong><em>(Complete)</em></strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="1%">
        <button mat-icon-button [disabled]="inProgress" color="accent" (click)="btnInfo_Clicked()">
            <mat-icon>information</mat-icon>
        </button>
        <button mat-icon-button [disabled]="inProgress" color="warn" (click)="btnRemove_Clicked()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!todo.isCompleted" [disabled]="inProgress" color="primary"
            (click)="btnComplete_Clicked()">
            <mat-icon>done</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>