<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content fxLayout="column">
    <form [formGroup]="addForm" fxLayout="column" fxLayoutGap="3%" fxFlexFill>
        <mat-form-field fxFlexFill>
            <input matInput required placeholder="Description" formControlName="description" [readonly]="inProgress">
            <mat-error *ngIf="addForm.controls['description'].hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput required placeholder="Added By" formControlName="addedBy" [readonly]="true">
            <mat-error *ngIf="addForm.controls['addedBy'].hasError('required')">
                Added By is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput [min]="minDate" [max]="maxDate" formControlName="todoDate" [matDatepicker]="picker"
                placeholder="Choose a date" [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1%">
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onYesClick()">Save</button>
</div>