<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="3%">
    <form [formGroup]="editForm" fxLayout="column" fxLayoutGap="3%" fxFlexFill>
        <mat-form-field fxFlexFill>
            <input matInput required placeholder="Description" formControlName="description"
                [readonly]="inProgress || lTodo.isCompleted">
            <mat-error *ngIf="editForm.controls['description'].hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput required placeholder="Added By" formControlName="addedBy" [readonly]="true">
            <mat-error *ngIf="editForm.controls['addedBy'].hasError('required')">
                Added By is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput [min]="minDate" [max]="maxDate" formControlName="todoDate" [matDatepicker]="picker"
                placeholder="Choose a date" [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
    <sub-todo></sub-todo>
</div>
<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1%">
    <button mat-button [disabled]="inProgress" color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-button *ngIf="!lTodo.isCompleted" [disabled]="inProgress" color="primary"
        (click)="onYesClick()">Update</button>
</div>